button {
  display: inline;
  margin-left: 10px;
}

.App {
  text-align: center;
  height: 100vh
}

.main-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-component {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2px auto;
}

.list {
  display: inline;
  margin: 0;
}

.clear, .undo {
  display: inline-block;
  margin: 15px auto;
  padding: 7px 15px;
  border-radius: 20%;
}

.stack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 10%;
  min-width: 30vw;
  min-height: 70vh;
}

.fullList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 10%;
  min-width: 30vw;
  min-height: 70vh;
}

